/* Custom Scrollbar untuk Chat */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #1f2937;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 3px;
}

/* Animasi Fade untuk Slideshow */
.fade-enter {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

/* Blur background specific */
.blur-bg {
  filter: blur(5px) brightness(0.6);
  transform: scale(1.05);
  /* Mencegah pinggiran putih akibat blur */
}

/* Animasi Chatbot Pop-up */
@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
    transform-origin: bottom right;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    transform-origin: bottom right;
  }
}

.chat-animate {
  animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* 3-dot animation */
.dot-container {
  display: flex;
  gap: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #9333ea;
  border-radius: 50%;
  animation: bounce 1.2s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}